{
  "presets": [
    [
      "@nrwl/react/babel",
      {
        "runtime": "automatic",
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    [
      "styled-components",
      {
        "meaninglessFileNames": ["index", "styled", "Styled"],
        "namespace": "Rui",
        "pure": true,
        "ssr": true
      }
    ]
  ]
}
